/*
  * Styles used in layout.jsx component
*/

.container {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 0 auto;

  /* To position the footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Expand page content to position footer */
.pageContent {
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 2rem 0 1rem;
  margin-bottom: 1rem;
  background-color: var(--bg-color);
  z-index: 99;
}

.navLinkContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.navLinkActive {
  border-bottom: solid 2px var(--accent-color);
}

.navLink {
  color: var(--text-color-fade);
  padding-bottom: 0.25rem;
}

.navLink:hover {
  color: var(--accent-color);
  transition-duration: 0.2s;
}

/* Theme toggle button */

.themeToggle {
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

/* Footer */

.footerSection {
  margin: 4rem 0 1rem;
  border-top: solid var(--accent-color);
  padding-top: 2rem;
}

.footerLinksContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.footerLinksCol {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.footerLink {
  margin-bottom: 1rem;
}

.footerLink:hover {
  color: var(--text-color);
  transition-duration: 0.2s;
}
