:root {
  --bg-color: #050505; /* background color */
  --fg-color: #ffffff; /* foreground color */
  --text-color: #b0b0b0;
  --text-color-fade: #666;
  --accent-color: #ffa500;
  --muted-underline: #333;
  --inline-code-bg: #1e1e1e;
  /* --inline-code-fg: #ce9178; */
  --inline-code-fg: var(--text-color);

  --line-height: 1.6;
}

[data-theme="light"] {
  --bg-color: white;
  --fg-color: black;
  --text-color: black;
  --accent-color: rgb(23, 179, 218);
  --inline-code-bg: #1e1e1e;
  /* --inline-code-fg: #ce9178; */
  --inline-code-fg: #b0b0b0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;

  /* Why was this set to hidden in original example? */
  /* overflow-x: hidden; */
}

body {
  color: var(--fg-color);
  background-color: var(--bg-color);

  font-size: 1.125rem;
  line-height: var(--line-height);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 4rem;
  color: var(--text-color);
}

p {
  color: var(--text-color);
  margin: 1.5rem 0;
}

h2,
h3,
h4,
h5 {
  margin: 1em 0;
}

/* 
* Style inline code myself to look like prism inline 
* prism replaces html entities when using markdown inline code
*/
.inline-code {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono",
    "Courier New", monospace;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--inline-code-bg);
  color: var(--inline-code-fg);
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}

.blog-content-container a {
  border-bottom: solid 2px;
  border-color: var(--muted-underline);
  font-weight: 700;
}

.blog-content-container a:hover {
  border-color: var(--accent-color);
  transition-duration: 0.2s;
}
